.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 30px;
  padding: 10px 20px;
}
.main h2{
  margin-bottom: 30px;
}
.search {
  display: flex;
  justify-content: space-between;
}
.ProductList{
  margin-top: 30px;
}

.Loading{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(241deg, rgba(105,170,228,1) 0%, rgba(236,58,248,1) 100%);

}
.Loading span i{
  background-color: white !important;
}